<ul class="nav side-menu">
    <li>
        <a href="@Url.Action("Index","Home")"><i class="fa fa-home"></i> Dashboard </a>
    </li>
    <li>
        <a href="@Url.Action("Appointments","Doctor")"><i class="fa fa-book"></i> Appointments</a>
    </li>
    <li>
        <a href="@Url.Action("Schedule","Doctor")"><i class="fa fa-calendar-check-o"></i> Manage Schedule</a>
    </li>
    <li>
        <a href="@Url.Action("Profile","Doctor")"><i class="fa fa-edit"></i> Profile</a>
    </li>
</ul>
<script src="http://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://use.fontawesome.com/89face2689.js"></script>
<link rel="stylesheet" href="font-awesome-sample.css" />
<script src="font-awesome-sample.js"></script>
