<ul class="nav side-menu">
    <li>
        <a href="@Url.Action("Index","Home")"><i class="fa fa-home"></i> Dashboard </a>
    </li>
    <li>
        <a href="@Url.Action("Appointments","Patient")"><i class="fa fa-book"></i> Appointment </a>
    </li>
    <li><a href="@Url.Action("MedicalHistory","Patient")"><i class="fa fa-calendar-check-o"></i> Medical History</a></li>
    <li><a href="@Url.Action("Profile","Patient")"><i class="fa fa-edit"></i> Profile</a></li>
</ul>

<script src="http://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://use.fontawesome.com/89face2689.js"></script>
<link rel="stylesheet" href="font-awesome-sample.css" />
<script src="font-awesome-sample.js"></script>

